<h1>Editing Play Station Network</h1>

<%= render 'form', play_station_network: @play_station_network %>

<%= link_to 'Show', @play_station_network %> |
<%= link_to 'Back', play_station_networks_path %>
